.question-btn button {
    margin-bottom: 10px;
    width: 60%;
 margin-left: 22%;
 border-radius: 20px;
}
.question-btn button{
    background-color: rgb(42, 42, 169);

}
.question-btn button:hover{
 background-color: orange;
}
.question-btn{
    text-align: center;
    margin-right: 36px;
}
.question{
    border-radius: 20px;
    padding: 20px 20px 10px 34px;
    width: 80%;
    color: rgb(35, 35, 193);
    font-size: 18px;
}
.quiz-container{
   background-color: white;
   padding: 20px 10px 40px 10px;
   border: 1px solid;
   border-radius: 20px;
   margin-bottom: 40px;
   margin-left: 14%;
   margin-right: 16%;
}
.view-ans{
    display: flex;
    justify-content: center;
}
.view-icon{
    font-size: 24px;
    margin-left: 10px;
    color: orange;
    padding-top: 14px;
    margin-left: 18px;
}