
.header{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between ;
}
.header a{
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin-left: 36px;
}
.header a:hover{
    color: white;
}
#logo{
    width: 40px;
    height: 50%;
    margin-right: 10px;
}
.title h3{
  color: rgb(35, 35, 193);
}
.title{
  display: flex;
    align-items: center;
}

@media screen and (max-width: 700px){
  .header a{
    font-size: 14px;
    margin-left: 0px;
    margin-right: 4px;
    width: 100%;
  }
  #logo{
    margin-right: 0px;
  }
  .title h3{
      font-size: 18px;
      padding-top: 5px;
  }
}

